[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
"plotly.express" = "*"
ipykernel = "*"
nbformat = "*"
requests = "*"
bs4 = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.13"
